#ignore all build directories
build
build_logging


# ignore all binaries and object files
*.o
*.so
*.a

#ignore vscode configurations
.vscode
server
client
llvm*
analysis/lock-free/testSQ2
analysis/lock-free/testS2Q2
analysis/lock-free/test2SQ2
