#ignore all build directories
build
build_logging
build_debugging
build_debugging_address
build_debugging_threads
release


# ignore all binaries and object files
*.o
*.so
*.a
llvm*
analysis/lock-free/testSQ2
analysis/lock-free/testS2Q2
analysis/lock-free/test2SQ2

#ignore all agents
Claude.md
Agents.md

#ignore vscode configurations
.vscode
server
client

